@model LymcWeb.Models.Boat

@{
    ViewData["Title"] = "Details";
}

<div class="fh5co-parallax" style="background-image: url(../../wwwroot/stuff/images/hero-1.jpg));" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
                <div class="fh5co-intro fh5co-table-cell">
                    <h1 class="text-center">Details</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BoatName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BoatName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd>
            <img src="@Model.Picture" height="100" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LengthInFeet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LengthInFeet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecordCreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecordCreationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
    </dl>
</div>
<div>
    @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdminRole")).Succeeded)
    {
        <a asp-action="Edit" asp-route-id="@Model.BoatId">Edit</a>
        <text> | </text>
        <a asp-action="Index">Back to List</a>
    }
    else
    {
        <a asp-action="Index">Back to List</a>

    }

</div>
